@media (min-width: 1200px) {
  .container {
    width: 950px;
  }
}

body{
	
}

.navbar {
	background: #fff;
	border: 0;
	margin:0;

}

.navbar-brand {

background-image: url(../img/logo.png);
background-size: 130px ;
background-position: center;
background-repeat: no-repeat;
width: 130px;
}

.nav li a{
	color: #5f3f31 !important;
	transition: ease .4s;
	border-bottom: solid 3px transparent;
}

.nav li a:hover{
	transition: ease .4s;
	border-bottom: solid 3px #5f3f31;
	background: 0;
}

.jumbotron {
	background-image: url(../img/header2.png);
	background-size:cover;
  background-repeat: no-repeat;
	background-position: center -50px;
	height: 100vh;


}

.int-right {
	margin-top: 120px;
}

.display-4 {
	font-size: 90px !important;
	margin-bottom: 0;
}

.int-right,
.jumbotron a
{
	float: right;
	color: white;

}

.intro {

}

.btn-header {
	color: #fff;
	border-radius: 50px;
	background: #5f3f31;
	border: 0;
	border: transparent solid 2px;
	transition: ease .4s;
}

.btn-header:hover {
	background: 0;
	border: #5f3f31 solid 2px;
	transition: ease .4s;

}


.page-header {
	font-family: segoe ui;
	text-align: center;
	border:0;

}


.abt-s {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	margin-bottom: 50px;
	text-align: center;
	border-top: 3px solid transparent;
	padding-top: 30px;
	transition: ease .4s;
}

.abt-s:hover {
	border-top: 3px solid #e0c094;
	transition: ease .4s;
	color: #e0c094;
}

.abt-s h2 {
	font-family: segoe;
}

.abt-background {
	color: #5f3f31 !important;
}

.underline {
	width: 70px;
	height: 5px;
	background-color: #e0c094;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 20px;
	margin-top: -10px;
}

.fas {
	font-size: 60px;
}

.pattern {
	width: 100%;
	height: 10vh;
	background:
linear-gradient(135deg, #e0c094 25%, transparent 25%) -50px 0,
linear-gradient(225deg, #e0c094 25%, transparent 25%) -50px 0,
linear-gradient(315deg, #e0c094 25%, transparent 25%),
linear-gradient(45deg, #e0c094 25%, transparent 25%);
background-size: 15px 15px;
background-color: #fff;
}

#blog {
	width: 100%;
	}

.blog-img {
	padding:0 !important;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: .5;
  transition: .3s ease;
  background-color: #e0c094;
}

.overlay:hover {
	opacity: 0;
}

.blog p {
	font-size: 20px;
}

.list-head {
	font-weight: bold;
	font-size: 18px;
}

.list-group, .list-group-item {

background: 0;
border: 0;
text-align: left;
padding: 5px;
margin: 0;
}

footer {
	font-family: segoe ui light;
	padding-top: 5px;
	padding-bottom: 10px;
	margin-top: 50px;
	background: #e0c094;

}

.brown{
	padding: 0;
	background: #5f3f31;
	height: 10px;
	margin: 0;
	position: relative;
	top: -5px

}

footer .fas {
	font-size: 20px;
}

footer .hr {
	border-top: 1px solid #5f3f31!important;
}

footer p {
	text-align: center;
	font-size: 11px;
	padding-top: 5px;

}